{
  "openapi": "3.0.1",
  "info": {
    "title": "Byteful Public User API",
    "description": "Public API used for third-party usage.",
    "termsOfService": "https://byteful.com",
    "contact": {
      "url": "https://byteful.com",
      "email": "developer@byteful.com"
    },
    "version": "1.0",
    "x-logo": {
      "altText": "Byteful",
      "backgroundColor": "#6354eb",
      "url": "https://pbs.twimg.com/profile_banners/1038803520605118464/1729783007/1500x500"
    }
  },
  "servers": [
    {
      "url": "https://api.byteful.com/1.0/"
    }
  ],
  "paths": {
    "/public/user/analytics/breakdown": {
      "get": {
        "tags": [
          "Proxy Analytics"
        ],
        "summary": "Analytics Breakdown",
        "description": "This endpoint analyzes proxy usage for a given customer within a specified time range\nand provides breakdowns by proxy users, hostnames, and network types.\n\nYou can either:\n\n1. Provide a \"preset\" parameter, which automatically sets the time period\n   (e.g. \"last_day\", \"last_hour\", etc.).\n2. OR, manually specify your own time range using period_start and period_end.\n\nYou can also filter by hostname, network, and proxy_user_id.\nHostname filters are disallowed if searching older than 90 days.\n",
        "parameters": [
          {
            "name": "preset",
            "in": "query",
            "description": "If provided, overrides period_start and period_end. Must be one of [\"last_hour\", \"last_day\", \"last_week\", \"last_30_days\", \"last_60_days\", \"last_90_days\", \"last_year\"].\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_start",
            "in": "query",
            "description": "Start date for the analytics period. If not provided, defaults to 7 days ago.",
            "schema": {
              "type": "string",
              "format": "datetime"
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "description": "End date for the analytics period. If not provided, defaults to current time.",
            "schema": {
              "type": "string",
              "format": "datetime"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "description": "Filter results by specific hostname. Cannot be used for data older than 90 days.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "query",
            "description": "Filter results by network type.",
            "schema": {
              "type": "string",
              "enum": [
                "datacenter",
                "isp",
                "residential",
                "mobile"
              ]
            }
          },
          {
            "name": "proxy_user_id",
            "in": "query",
            "description": "Filter results by proxy user ID. Must belong to the current customer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "return_proxy_users",
            "in": "query",
            "description": "Whether to include proxy user data in response. Defaults to true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_hostnames",
            "in": "query",
            "description": "Whether to include hostname data in response. Defaults to true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_networks",
            "in": "query",
            "description": "Whether to include network data in response. Defaults to true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort results by, with optional _asc or _desc suffix to specify direction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics breakdown successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "hostnames": {
                          "type": "array",
                          "description": "Breakdown by hostnames (if return_hostnames=true)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bytes": {
                                "type": "integer",
                                "description": "Total bytes transferred for this hostname"
                              },
                              "hostname": {
                                "type": "string",
                                "description": "The hostname requested"
                              },
                              "requests": {
                                "type": "integer",
                                "description": "Total number of requests to this hostname"
                              }
                            }
                          }
                        },
                        "networks": {
                          "type": "array",
                          "description": "Breakdown by network types (if return_networks=true)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bytes": {
                                "type": "integer",
                                "description": "Total bytes transferred through this network"
                              },
                              "network": {
                                "type": "string",
                                "description": "Type of network",
                                "enum": [
                                  "datacenter",
                                  "isp",
                                  "residential",
                                  "mobile"
                                ]
                              },
                              "requests": {
                                "type": "integer",
                                "description": "Total number of requests made through this network"
                              }
                            }
                          }
                        },
                        "proxy_user_ids": {
                          "type": "array",
                          "description": "Breakdown by proxy users (if return_proxy_users=true)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bytes": {
                                "type": "integer",
                                "description": "Total bytes transferred by this proxy user"
                              },
                              "proxy_user_id": {
                                "type": "string",
                                "description": "ID of the proxy user"
                              },
                              "requests": {
                                "type": "integer",
                                "description": "Total number of requests made by this proxy user"
                              }
                            }
                          }
                        },
                        "total_bytes": {
                          "type": "integer",
                          "description": "Total number of requests in time period"
                        },
                        "total_requests": {
                          "type": "integer",
                          "description": "Total number of requests in time period"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Analytics breakdown successful"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/analytics/graph": {
      "get": {
        "tags": [
          "Proxy Analytics"
        ],
        "summary": "Graph Proxy Analytics",
        "description": "This endpoint analyzes proxy usage for a given customer within a specified time range\nand groups them by one of four discrete intervals: `minute`, `hour`, `day`, or `month`.\n\nYou can either\n\n1. Provide a `preset` parameter, which automatically sets period and interval\n   (e.g. `last_day`, `last_hour`, etc.)\n2. OR, manually specify your own time range (`period_start`, `period_end`) plus `interval`\n\nYou can also filter by `hostname`, `network`, `proxy_user_id`, and `service_id`.\nService ID can only be filtered if period is within 7 days and interval is hour or less.\nHostname filters are disallowed if searching older than 90 days.\n",
        "parameters": [
          {
            "name": "preset",
            "in": "query",
            "description": "If provided, overrides period_start, period_end, and interval. Must be one of [\"last_hour\", \"last_day\", \"last_week\", \"last_30_days\", \"last_60_days\", \"last_90_days\", \"last_year\"].\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "datetime"
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "datetime"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "hour",
                "day",
                "month"
              ]
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "datacenter",
                "isp",
                "residential",
                "mobile"
              ]
            }
          },
          {
            "name": "proxy_user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "show_log_concurrency",
            "in": "query",
            "description": "If true, includes avg_log_concurrency and max_log_concurrency per interval bucket and total_avg_log_concurrency and total_max_log_concurrency for the period. Only valid when interval is minute or hour (raw log data). Returns 422 for day or month intervals.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics graphing successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "intervals": {
                          "type": "array",
                          "description": "An array of usage data grouped by the specified interval.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bytes": {
                                "type": "integer",
                                "description": "Total bytes transferred in this interval.",
                                "example": 1102393
                              },
                              "error": {
                                "type": "integer",
                                "description": "Number of failed requests in this interval.",
                                "example": 0
                              },
                              "interval": {
                                "type": "string",
                                "description": "Exact timestamp (or date, if day/month) representing the interval start.",
                                "example": "2025-02-27 13:02:00"
                              },
                              "interval_name": {
                                "type": "string",
                                "description": "Human-friendly label for the interval.",
                                "example": "2025-02-27 13:02:00"
                              },
                              "requests": {
                                "type": "integer",
                                "description": "Number of total requests in this interval.",
                                "example": 266
                              },
                              "smartpath_money_saved": {
                                "type": "integer",
                                "description": "Total money in cents saved by Smartpath routing in this interval.",
                                "example": 0
                              },
                              "smartpath_routed_bytes": {
                                "type": "integer",
                                "description": "Total bytes optimized by Smartpath in this interval.",
                                "example": 0
                              },
                              "smartpath_routed_requests": {
                                "type": "integer",
                                "description": "Total requests optimized by Smartpath in this interval.",
                                "example": 0
                              },
                              "successful": {
                                "type": "integer",
                                "description": "Number of successful requests in this interval.",
                                "example": 266
                              }
                            }
                          }
                        },
                        "total_bytes": {
                          "type": "integer",
                          "description": "The sum of all data bytes transferred.",
                          "example": 1102393
                        },
                        "total_error": {
                          "type": "integer",
                          "description": "The total number of failed requests.",
                          "example": 0
                        },
                        "total_requests": {
                          "type": "integer",
                          "description": "The total number of requests made.",
                          "example": 266
                        },
                        "total_smartpath_money_saved": {
                          "type": "integer",
                          "description": "Total money in cents saved by Smartpath routing.",
                          "example": 0
                        },
                        "total_smartpath_routed_bytes": {
                          "type": "integer",
                          "description": "Total bytes optimized by Smartpath.",
                          "example": 0
                        },
                        "total_smartpath_routed_requests": {
                          "type": "integer",
                          "description": "Total requests optimized by Smartpath.",
                          "example": 0
                        },
                        "total_successful": {
                          "type": "integer",
                          "description": "The total number of successful requests.",
                          "example": 266
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "A success message.",
                      "example": "Analytics graphing successful."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/asn/retrieve/{asn_id}": {
      "get": {
        "tags": [
          "ASN"
        ],
        "summary": "Retrieve ASN",
        "description": "Retrieves a specific ASN.\n",
        "parameters": [
          {
            "name": "asn_id",
            "in": "path",
            "description": "ID of the ASN to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ASN Retrieve",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AsnSuccessfulRetrieveResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/asn/search": {
      "get": {
        "tags": [
          "ASN"
        ],
        "summary": "Search ASN",
        "description": "Search Autonomous System Number (ASN) entries using various filters.\n",
        "parameters": [
          {
            "name": "asn_id",
            "in": "query",
            "description": "Unique identifier of the ASN",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asn_name",
            "in": "query",
            "description": "Name associated with the ASN",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_id",
            "in": "query",
            "description": "Country identifier where the ASN is registered",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asn_type",
            "in": "query",
            "description": "Type of the ASN (e.g., hosting, isp, business, etc.)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asn_rir",
            "in": "query",
            "description": "Regional Internet Registry (RIR) associated with the ASN",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asn_ip_address_count",
            "in": "query",
            "description": "Count of IP addresses associated with the ASN",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asn_node_count",
            "in": "query",
            "description": "Current number of online nodes in the ASN",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Key for sorting or random.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful ASN search",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AsnSuccessfulSearchResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/checkout/catalog": {
      "get": {
        "tags": [
          "Checkout"
        ],
        "summary": "Retrieve Simplified Product Checkout Catalog",
        "description": "This endpoint returns a simplified product list that is both visible\nand enabled for API checkouts. It helps clients to quickly identify and\npurchase available products without any search or pagination parameters.\nIdeal for basic API-based purchasing.\n",
        "responses": {
          "200": {
            "description": "Successfully retrieved the simplified checkout catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "country_id": {
                            "type": "string",
                            "description": "The ISO country code for the product.",
                            "example": "us"
                          },
                          "product_cycle_options": {
                            "type": "array",
                            "description": "List of subscription cycles available.",
                            "example": [
                              "1:month",
                              "3:month",
                              "1:year"
                            ],
                            "items": {
                              "type": "string"
                            }
                          },
                          "product_is_available": {
                            "type": "boolean",
                            "description": "Flag indicating if the product is currently available.",
                            "example": true
                          },
                          "product_is_per_ip": {
                            "type": "boolean",
                            "description": "Specifies if the product is purchased on a per-IP basis.",
                            "example": true
                          },
                          "product_name": {
                            "type": "string",
                            "description": "Human-readable name of the product.",
                            "example": "Datacenter Proxies [US]"
                          },
                          "product_protocol": {
                            "type": "string",
                            "description": "Network protocol used by the product (e.g., ipv4).",
                            "example": "ipv4"
                          },
                          "product_stock": {
                            "type": "integer",
                            "description": "Number of units in stock.",
                            "example": 10
                          },
                          "product_type": {
                            "type": "string",
                            "description": "Type of product (e.g., isp, datacenter).",
                            "example": "datacenter"
                          }
                        }
                      },
                      "description": "Object containing available products keyed by product ID",
                      "example": {
                        "datacenter_us": {
                          "country_id": "us",
                          "product_cycle_options": [
                            "1:month",
                            "3:month",
                            "1:year"
                          ],
                          "product_is_available": true,
                          "product_is_per_ip": true,
                          "product_name": "Datacenter Proxies [US]",
                          "product_protocol": "ipv4",
                          "product_stock": 10,
                          "product_type": "datacenter"
                        },
                        "isp_gb": {
                          "country_id": "gb",
                          "product_cycle_options": [
                            "1:month",
                            "3:month",
                            "1:year"
                          ],
                          "product_is_available": true,
                          "product_is_per_ip": true,
                          "product_name": "Static Residential ISP Proxies [GB]",
                          "product_protocol": "ipv4",
                          "product_stock": 181,
                          "product_type": "isp"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "A success message.",
                      "example": "Checkout catalog successfully retrieved."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/checkout/create": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "Create Checkout",
        "description": "This endpoint creates a checkout for the authenticated user based on the provided data. It supports\ndifferent payment platforms, promotional codes, and can handle both one-time and recurring payments.\nYou can either specify a `product_code` directly or supply the traditional combination of\n`product_type`, `country_id`, and `product_protocol`.\n\n**Important considerations**\n- If `product_code` is provided alongside `product_type`/`country_id`/`product_protocol`, their values must match the actual product attributes.\n- If the invoice amount remaining is `0`, it means your available credit fully covered the cost and the service is considered immediately paid.\n- If the invoice needs payment, you will be returned an `invoice_url` to complete checkout.\n",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content type for the request body as application/json.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "The data needed to create the checkout.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "quantity"
                ],
                "type": "object",
                "properties": {
                  "country_id": {
                    "type": "string",
                    "description": "An ISO country code used for region-specific datacenter or ISP products."
                  },
                  "cycle_interval": {
                    "type": "string",
                    "description": "The billing interval for recurring purchases.",
                    "default": "month",
                    "enum": [
                      "year",
                      "month",
                      "week",
                      "day"
                    ]
                  },
                  "cycle_interval_count": {
                    "type": "integer",
                    "description": "The number of intervals for a recurring cycle (e.g. 1 month, 2 months, etc.)."
                  },
                  "product_code": {
                    "type": "string",
                    "description": "A direct product code (e.g. \"datacenter_us\"). If this is provided, you do not need `product_type`, `country_id`, or `product_protocol`."
                  },
                  "product_protocol": {
                    "type": "string",
                    "description": "The protocol of the product.",
                    "default": "ipv4",
                    "enum": [
                      "ipv4",
                      "ipv6",
                      "dual"
                    ]
                  },
                  "product_type": {
                    "type": "string",
                    "description": "The type of product to purchase (if `product_code` is not used).",
                    "enum": [
                      "datacenter",
                      "isp",
                      "residential",
                      "mobile"
                    ]
                  },
                  "promotional_code": {
                    "type": "string",
                    "description": "A promotional code to apply a discount to the checkout."
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "The quantity of the product to purchase."
                  },
                  "service_fulfillment_filter": {
                    "type": "object",
                    "properties": {},
                    "description": "An optional filter object for advanced product/service configurations."
                  }
                },
                "example": {
                  "cycle_interval": "month",
                  "cycle_interval_count": 1,
                  "product_code": "isp_us",
                  "promotional_code": "HALFOFF",
                  "quantity": 5
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created a checkout. Depending on the remaining invoice amount, it may already be paid by credit, or you may need to complete payment at the returned invoice URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "created": {
                          "type": "array",
                          "description": "A list of service IDs created during checkout (usually contains only one).",
                          "example": [
                            "API-1234-5678"
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "invoice_is_paid": {
                          "type": "boolean",
                          "description": "Indicates whether the invoice is already paid.",
                          "example": true
                        },
                        "invoice_url": {
                          "type": "string",
                          "description": "URL where the user should be redirected to complete payment (null if paid in full).",
                          "example": "https://invoice.stripe.com/i/acct_1H7dAB2BUlqim5l/test_123"
                        },
                        "mobile_ledger_created": {
                          "type": "array",
                          "description": "A list of mobile ledger entries created (may be empty).",
                          "example": [],
                          "items": {
                            "type": "string"
                          }
                        },
                        "proxies": {
                          "type": "array",
                          "description": "A list of proxy objects tied to the newly created service.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "asn_id": {
                                "type": "integer",
                                "example": 7018
                              },
                              "asn_name": {
                                "type": "string",
                                "example": "AT&T Enterprises, LLC"
                              },
                              "city_example_postcode": {
                                "type": "string",
                                "example": "75202"
                              },
                              "city_id": {
                                "type": "integer",
                                "example": 75202
                              },
                              "city_latitude": {
                                "type": "number",
                                "format": "float",
                                "example": 32.7767
                              },
                              "city_longitude": {
                                "type": "number",
                                "format": "float",
                                "example": -96.797
                              },
                              "city_name": {
                                "type": "string",
                                "example": "Dallas"
                              },
                              "city_timezone": {
                                "type": "string",
                                "example": "America/Chicago"
                              },
                              "country_id": {
                                "type": "string",
                                "example": "us"
                              },
                              "country_name": {
                                "type": "string",
                                "example": "United States"
                              },
                              "customer_id": {
                                "type": "integer",
                                "example": 1976
                              },
                              "default_proxy_user_password": {
                                "type": "string",
                                "example": "apple1984"
                              },
                              "default_proxy_user_username": {
                                "type": "string",
                                "example": "stevejobs"
                              },
                              "ip_address_id_v4": {
                                "type": "string",
                                "example": "107.225.73.142"
                              },
                              "ip_address_id_v6": {
                                "type": "string",
                                "description": "IPv6 address if dual protocol is used",
                                "example": "2600:1000:b12a:6351:8523:997e:93c4:f124"
                              },
                              "proxy_http_port": {
                                "type": "integer",
                                "example": 8080
                              },
                              "proxy_id": {
                                "type": "string",
                                "example": "7a018d34-76c2-4c23-b14d-f7b9a7054e25"
                              },
                              "proxy_ip_address": {
                                "type": "string",
                                "example": "107.225.73.142"
                              },
                              "proxy_ip_address_v6": {
                                "type": "string",
                                "description": "IPv6 address if dual protocol is used",
                                "example": "2600:1000:b12a:6351:8523:997e:93c4:f124"
                              },
                              "proxy_last_update_datetime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "proxy_protocol": {
                                "type": "string",
                                "example": "ipv4"
                              },
                              "proxy_socks5_port": {
                                "type": "integer",
                                "example": 1080
                              },
                              "proxy_status": {
                                "type": "string",
                                "example": "in_use"
                              },
                              "proxy_type": {
                                "type": "string",
                                "example": "isp"
                              },
                              "service_id": {
                                "type": "string",
                                "example": "API-1234-5678"
                              },
                              "subdivision_id": {
                                "type": "string",
                                "example": "us-tx"
                              },
                              "subdivision_name": {
                                "type": "string",
                                "example": "Texas"
                              },
                              "subnet_id": {
                                "type": "string",
                                "example": "107.225.72.0/22"
                              },
                              "subnet_id_v6": {
                                "type": "string",
                                "description": "IPv6 subnet if dual protocol is used",
                                "example": "2600:1000::/28"
                              }
                            }
                          }
                        },
                        "proxy_edited": {
                          "type": "array",
                          "description": "A list of proxies edited or updated in the process (may be empty).",
                          "example": [
                            "7a018d34-76c2-4c23-b14d-f7b9a7054e25"
                          ],
                          "items": {
                            "type": "string"
                          }
                        },
                        "residential_ledger_created": {
                          "type": "array",
                          "description": "A list of residential ledger entries created (may be empty).",
                          "example": [],
                          "items": {
                            "type": "string"
                          }
                        },
                        "service": {
                          "type": "object",
                          "properties": {
                            "country_id": {
                              "type": "string",
                              "example": "us"
                            },
                            "customer_id": {
                              "type": "integer",
                              "example": 1976
                            },
                            "open_invoice_id": {
                              "type": "string",
                              "example": "null"
                            },
                            "payment_method_id": {
                              "type": "string",
                              "example": "null"
                            },
                            "product_id": {
                              "type": "string",
                              "example": "prod_ATT7018"
                            },
                            "service_creation_datetime": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "service_cycle": {
                              "type": "string",
                              "example": "1:month"
                            },
                            "service_dispatch_datetime": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "service_earliest_cancellation_datetime": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "service_expiry_datetime": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "service_fulfillment_filter": {
                              "type": "object",
                              "properties": {},
                              "example": {
                                "asn_id": 7018
                              }
                            },
                            "service_id": {
                              "type": "string",
                              "example": "API-1234-5678"
                            },
                            "service_image": {
                              "type": "string",
                              "example": "https://files.stripe.com/links/MDB8YWNjdF8xSDdkOEFCMkJVbHFpbTVsfGZsX2xpdmVfZFZ6TTZjUG01Q0NuR1IzSTZsVzNjVVFX00kUPPfQE9"
                            },
                            "service_is_automatic_collection": {
                              "type": "boolean",
                              "example": true
                            },
                            "service_is_cancellable": {
                              "type": "boolean",
                              "example": true
                            },
                            "service_is_off_catalog": {
                              "type": "boolean",
                              "example": false
                            },
                            "service_is_pending_cancellation": {
                              "type": "boolean",
                              "example": false
                            },
                            "service_is_reconfigurable": {
                              "type": "boolean",
                              "example": true
                            },
                            "service_last_update_datetime": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "service_metadata": {
                              "type": "object",
                              "properties": {},
                              "example": {}
                            },
                            "service_name": {
                              "type": "string",
                              "example": "AT&T ISP Proxies [US]"
                            },
                            "service_price_id": {
                              "type": "string",
                              "example": "price_1QJx2DB2BUlqim5lxmO3aT2v"
                            },
                            "service_promotional_code": {
                              "type": "string",
                              "example": "HALFOFF"
                            },
                            "service_protocol": {
                              "type": "string",
                              "example": "ipv4"
                            },
                            "service_quantity": {
                              "type": "integer",
                              "example": 5
                            },
                            "service_status": {
                              "type": "string",
                              "example": "active"
                            },
                            "service_subscription_id": {
                              "type": "string",
                              "example": "sub_1QxSHmB2BUlqim5lTUH8HvKa"
                            },
                            "service_subscription_is_paused": {
                              "type": "boolean",
                              "example": false
                            },
                            "service_total": {
                              "type": "integer",
                              "example": 450
                            },
                            "service_type": {
                              "type": "string",
                              "example": "isp"
                            },
                            "subscription_schedule_id": {
                              "type": "string",
                              "example": "null"
                            }
                          },
                          "description": "Detailed information about the provisioned service (null if not yet provisioned)."
                        },
                        "service_id": {
                          "type": "string",
                          "description": "The ID of the newly created service.",
                          "example": "API-1234-5678"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message.",
                      "example": "Successfully created checkout and paid with credit. Your service will be provisioned shortly."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/public/user/checkout/quote": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "Generate Checkout Quote",
        "description": "This endpoint allows a user to generate a quote for a service via the API. You can either specify\na `product_code` directly or use the traditional combination of `product_type`, `country_id`, and\n`product_protocol`.\n",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content type for the request body as application/json.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "The data needed to create the checkout quote.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "quantity"
                ],
                "type": "object",
                "properties": {
                  "country_id": {
                    "type": "string",
                    "description": "The ISO country code of the product. Applicable for region-specific datacenter/isp products.",
                    "example": "gb"
                  },
                  "cycle_interval": {
                    "type": "string",
                    "description": "The interval of the product.",
                    "example": "month",
                    "default": "month",
                    "enum": [
                      "year",
                      "month",
                      "week",
                      "day"
                    ]
                  },
                  "cycle_interval_count": {
                    "type": "integer",
                    "description": "The interval count of the product.",
                    "example": 1
                  },
                  "product_code": {
                    "type": "string",
                    "description": "If provided, this overrides product_type, country_id, and product_protocol.\nThe cycle must still be valid for this product_code.\n",
                    "example": "isp_gb"
                  },
                  "product_protocol": {
                    "type": "string",
                    "description": "The protocol of the product.",
                    "example": "ipv4",
                    "default": "ipv4",
                    "enum": [
                      "ipv4",
                      "ipv6",
                      "dual"
                    ]
                  },
                  "product_type": {
                    "type": "string",
                    "description": "The product type you would like to purchase.",
                    "example": "isp",
                    "enum": [
                      "datacenter",
                      "isp",
                      "residential"
                    ]
                  },
                  "promotional_code": {
                    "type": "string",
                    "description": "Promotional code to apply to the checkout.",
                    "example": "NEWYEAR2025"
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "The quantity of the product you would like to purchase.",
                    "example": 1
                  },
                  "service_fulfillment_filter": {
                    "type": "object",
                    "properties": {},
                    "example": {
                      "asn_id": 7018
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Quote generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "before_discount_total": {
                          "type": "integer",
                          "description": "Total cost before any discounts.",
                          "example": 350
                        },
                        "credit_balance": {
                          "type": "integer",
                          "description": "User's current credit balance.",
                          "example": 99050
                        },
                        "credit_only_checkout": {
                          "type": "boolean",
                          "description": "Indicates if the checkout is credit only.",
                          "example": true
                        },
                        "customer_credit_balance_applied": {
                          "type": "boolean",
                          "description": "Indicates if the user's credit balance was used.",
                          "example": true
                        },
                        "customer_credit_balance_applied_amount": {
                          "type": "integer",
                          "description": "Amount of credit balance applied.",
                          "example": 350
                        },
                        "discount": {
                          "type": "integer",
                          "description": "Discount amount applied.",
                          "example": 0
                        },
                        "discounted": {
                          "type": "boolean",
                          "description": "Indicates if a discount was applied.",
                          "example": false
                        },
                        "invalid_reason": {
                          "type": "string",
                          "description": "Reason for the cart being invalid (only set if is_valid=false).",
                          "example": "null"
                        },
                        "is_top_up": {
                          "type": "boolean",
                          "description": "Indicates if the cart is for a top-up.",
                          "example": false
                        },
                        "is_valid": {
                          "type": "boolean",
                          "description": "Indicates if the cart is valid to checkout.",
                          "example": true
                        },
                        "line_items": {
                          "type": "array",
                          "description": "Detailed list of cart items.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "item_country_id": {
                                "type": "string",
                                "example": "gb"
                              },
                              "item_name": {
                                "type": "string",
                                "example": "Static Residential ISP Proxies [GB]"
                              },
                              "item_per_unit_amount": {
                                "type": "integer",
                                "example": 350
                              },
                              "item_price_id": {
                                "type": "string",
                                "example": "price_1QJx2DB2BUlqim5lxmO3aT2v"
                              },
                              "item_price_type": {
                                "type": "string",
                                "example": "recurring"
                              },
                              "item_quantity": {
                                "type": "integer",
                                "example": 1
                              },
                              "item_total": {
                                "type": "integer",
                                "example": 350
                              },
                              "item_type": {
                                "type": "string",
                                "example": "isp"
                              },
                              "service_fulfillment_filter": {
                                "type": "object",
                                "properties": {},
                                "description": "Additional filters for fulfillment (if any).",
                                "example": {}
                              }
                            }
                          }
                        },
                        "promotional_code": {
                          "type": "string",
                          "example": "null"
                        },
                        "promotional_code_id": {
                          "type": "string",
                          "example": "null"
                        },
                        "top_up_amount": {
                          "type": "integer",
                          "description": "Amount intended for credit top-up (if applicable).",
                          "example": 0
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total cost after discounts, before credit.",
                          "example": 350
                        },
                        "total_after_applied_credit": {
                          "type": "integer",
                          "description": "Total cost after discounts and credit.",
                          "example": 0
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message.",
                      "example": "Quote generated successfully."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/public/user/city/retrieve/{city_id}": {
      "get": {
        "tags": [
          "City"
        ],
        "summary": "Retrieve City",
        "description": "Retrieves a specific City.\n",
        "parameters": [
          {
            "name": "city_id",
            "in": "path",
            "description": "ID of the City to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful City Retrieve",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CitySuccessfulRetrieveResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/city/search": {
      "get": {
        "tags": [
          "City"
        ],
        "summary": "Search City",
        "description": "Search City entries using various filters.\n",
        "parameters": [
          {
            "name": "city_id",
            "in": "query",
            "description": "ID of the City",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_name",
            "in": "query",
            "description": "Name of the City",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subdivision_id",
            "in": "query",
            "description": "ID of the Subdivision which the City is in",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_timezone",
            "in": "query",
            "description": "Timezone of the City",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_is_populous",
            "in": "query",
            "description": "Whether the City one of the ten largest cities in its timezone with atleast 300,000 population",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "city_alias",
            "in": "query",
            "description": "Indentifier of the city when used in backconnect proxy",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_example_postcode",
            "in": "query",
            "description": "Example postcode of the City",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_latitude",
            "in": "query",
            "description": "Latitude of the City",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_longitude",
            "in": "query",
            "description": "Longitude of the City",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_node_count",
            "in": "query",
            "description": "Current number of online nodes in the City",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Key for sorting or random.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful City search",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CitySuccessfulSearchResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/continent/retrieve/{continent_id}": {
      "get": {
        "tags": [
          "Continent"
        ],
        "summary": "Retrieve Continent",
        "description": "Retrieves a specific Continent.\n",
        "parameters": [
          {
            "name": "continent_id",
            "in": "path",
            "description": "ID of the Continent to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Continent Retrieve",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ContinentSuccessfulRetrieveResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/continent/search": {
      "get": {
        "tags": [
          "Continent"
        ],
        "summary": "Search Continent",
        "description": "Search Continent entries using various filters.\n",
        "parameters": [
          {
            "name": "continent_id",
            "in": "query",
            "description": "Unique two-letter identifier of the Continent",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "continent_name",
            "in": "query",
            "description": "Name of the Continent",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "continent_alias",
            "in": "query",
            "description": "Alias or alternative name for the Continent",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Key for sorting or random.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Continent search",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ContinentSuccessfulSearchResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/country/retrieve/{country_id}": {
      "get": {
        "tags": [
          "Country"
        ],
        "summary": "Retrieve Country",
        "description": "Retrieves a specific Country.\n",
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "description": "ID of the Country to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Country Retrieve",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CountrySuccessfulRetrieveResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/country/search": {
      "get": {
        "tags": [
          "Country"
        ],
        "summary": "Search Country",
        "description": "Search Country entries using various filters.\n",
        "parameters": [
          {
            "name": "country_id",
            "in": "query",
            "description": "Unique two-letter identifier of the Country",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_name",
            "in": "query",
            "description": "Name of the Country",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "continent_id",
            "in": "query",
            "description": "Identifier of the Continent where the Country is located",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_is_european_union",
            "in": "query",
            "description": "Boolean flag indicating if the Country is a member of the European Union",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "country_alias",
            "in": "query",
            "description": "Alias or alternative name for the Country",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_node_count",
            "in": "query",
            "description": "The current number of online nodes in the Country",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Key for sorting or random.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Country search",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CountrySuccessfulSearchResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/customer/retrieve": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Retrieve Current Customer",
        "description": "Retrieves the profile of the currently authenticated customer, along with their credit balance.\n",
        "responses": {
          "200": {
            "description": "Successful Customer Profile Retrieve",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CustomerSuccessfulRetrieveResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "credit_balance": {
                              "type": "integer",
                              "example": 10000
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "active_residential_service_id": {
                              "type": "string",
                              "example": "130-8201-332"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "active_mobile_service_id": {
                              "type": "string",
                              "example": "130-8201-332"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "residential_bytes_left": {
                              "type": "integer",
                              "example": 313344
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "mobile_bytes_left": {
                              "type": "integer",
                              "example": 313344
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "proxy_count": {
                              "type": "integer",
                              "example": 100
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "free_trial_is_pending": {
                              "type": "boolean",
                              "example": false
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "kyc_is_pending": {
                              "type": "boolean",
                              "example": false
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "active_service_types": {
                              "type": "array",
                              "example": [
                                "isp",
                                "residential",
                                "mobile"
                              ],
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/ip_address/geolocate/{ip_address}": {
      "get": {
        "tags": [
          "IP Address"
        ],
        "summary": "Retrieve IP Address Geolocation",
        "description": "Retrieves geolocation information for a given IP address and maps it to internal API objects including country, subdivision and ASN. The response includes both external data provided by an external geolocation provider and internal data derived from internal databases.\n",
        "parameters": [
          {
            "name": "ip_address",
            "in": "path",
            "description": "IP address for which geolocation information is required",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IP Address geolocation successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "external": {
                          "type": "object",
                          "properties": {
                            "asn_id": {
                              "type": "string"
                            },
                            "city_name": {
                              "type": "string"
                            },
                            "continent_id": {
                              "type": "string"
                            },
                            "continent_name": {
                              "type": "string"
                            },
                            "country_id": {
                              "type": "string"
                            },
                            "country_name": {
                              "type": "string"
                            },
                            "latitude": {
                              "type": "number"
                            },
                            "longitude": {
                              "type": "number"
                            },
                            "timezone": {
                              "type": "string"
                            },
                            "zip_code": {
                              "type": "string"
                            }
                          },
                          "description": "External geolocation data from external geolocation provider."
                        },
                        "internal": {
                          "type": "object",
                          "properties": {
                            "asn": {
                              "type": "object",
                              "properties": {}
                            },
                            "city": {
                              "type": "object",
                              "properties": {}
                            },
                            "continent": {
                              "type": "object",
                              "properties": {}
                            },
                            "country": {
                              "type": "object",
                              "properties": {}
                            },
                            "ip_address": {
                              "type": "string"
                            },
                            "subdivision": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "description": "Internal geolocation data derived from internal databases."
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "IP Address geolocation successfully retrieved."
                    }
                  },
                  "example": {
                    "data": {
                      "external": {
                        "asn_id": "13335",
                        "city_name": "South Brisbane",
                        "continent_id": "oc",
                        "continent_name": "Oceania",
                        "country_id": "au",
                        "country_name": "Australia",
                        "latitude": -27.4766,
                        "longitude": 153.0166,
                        "timezone": "australia/brisbane",
                        "zip_code": "4101"
                      },
                      "internal": {
                        "asn": {
                          "asn_id": 13335,
                          "asn_ip_address_count": 1691904,
                          "asn_name": "Cloudflare Inc",
                          "asn_rir": "arin",
                          "asn_type": "hosting",
                          "country_id": "us"
                        },
                        "city": {
                          "city_alias": "brisbane",
                          "city_creation_datetime": "2024-11-11 12:56:15",
                          "city_example_postcode": "4000",
                          "city_id": 378778,
                          "city_is_populous": true,
                          "city_last_update_datetime": "2024-11-11 12:56:15",
                          "city_latitude": -27.46794,
                          "city_longitude": 153.02809,
                          "city_name": "Brisbane",
                          "city_population": 2582007,
                          "city_timezone": "australia/brisbane",
                          "subdivision_id": "au-qld"
                        },
                        "continent": {
                          "continent_alias": "oc",
                          "continent_id": "oc",
                          "continent_name": "Oceania"
                        },
                        "country": {
                          "continent_id": "oc",
                          "country_alias": "au",
                          "country_id": "au",
                          "country_is_european_union": false,
                          "country_name": "Australia"
                        },
                        "ip_address": "1.1.1.1",
                        "subdivision": {
                          "country_id": "au",
                          "subdivision_alias": "au_qld",
                          "subdivision_id": "au-qld",
                          "subdivision_name": "Queensland"
                        }
                      }
                    },
                    "message": "IP Address geolocation successfully retrieved."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/log/retrieve/{log_id}": {
      "get": {
        "tags": [
          "Log"
        ],
        "summary": "Retrieve Log",
        "description": "Retrieves a specific Log based on the provided ID for the current user's account.\n",
        "parameters": [
          {
            "name": "log_id",
            "in": "path",
            "description": "ID of the Log to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Log Retrieve",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LogSuccessfulRetrieveResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/log/search": {
      "get": {
        "tags": [
          "Log"
        ],
        "summary": "Search Logs",
        "description": "Search log entries on the customer account using various filters.\n",
        "parameters": [
          {
            "name": "log_id",
            "in": "query",
            "description": "ID of the Log",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "log_network",
            "in": "query",
            "description": "Network type of the Log",
            "schema": {
              "type": "string",
              "enum": [
                "datacenter",
                "isp",
                "residential",
                "mobile"
              ]
            }
          },
          {
            "name": "proxy_user_id",
            "in": "query",
            "description": "ID of the associated Proxy User",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_id",
            "in": "query",
            "description": "ID of the associated Service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "log_protocol",
            "in": "query",
            "description": "Protocol used in the Log",
            "schema": {
              "type": "string",
              "enum": [
                "http",
                "socks5"
              ]
            }
          },
          {
            "name": "country_id",
            "in": "query",
            "description": "ISO country code of the Log",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_alias",
            "in": "query",
            "description": "City of the Log",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asn_id",
            "in": "query",
            "description": "Autonomous System Number (ASN) of the Log",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "log_session_id",
            "in": "query",
            "description": "Session ID of the Log",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxy_id",
            "in": "query",
            "description": "ID of the associated Proxy",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "log_method",
            "in": "query",
            "description": "HTTP method of the request (e.g. GET, POST)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "log_client_ip_address",
            "in": "query",
            "description": "Client IP address of the Log",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "log_local_ip_address",
            "in": "query",
            "description": "Local (ingress) IP address of the Log",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "log_local_port",
            "in": "query",
            "description": "Local (ingress) port of the Log",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "log_egress_ip_address",
            "in": "query",
            "description": "Egress IP address of the Log",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "log_hostname",
            "in": "query",
            "description": "Domain associated with the Log",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "log_status_code",
            "in": "query",
            "description": "Status code of the request",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "log_total_bytes",
            "in": "query",
            "description": "Size in bytes of the Log",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "log_concurrency",
            "in": "query",
            "description": "Concurrency count recorded on the proxy at the time of the request",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "log_smartpath_routed",
            "in": "query",
            "description": "Whether the request was routed via Smartpath",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "log_transport",
            "in": "query",
            "description": "Transport protocol used (tcp, udp)",
            "schema": {
              "type": "string",
              "enum": [
                "tcp",
                "udp"
              ]
            }
          },
          {
            "name": "log_request_datetime",
            "in": "query",
            "description": "Datetime when the request was made",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "log_total_elapsed_ms",
            "in": "query",
            "description": "Total elapsed time of request in ms",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Key for sorting or random.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Log search",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LogSuccessfulSearchResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/log_summary/retrieve/{log_summary_id}": {
      "get": {
        "tags": [
          "Log Summary"
        ],
        "summary": "Retrieve Log Summary",
        "description": "Retrieves a specific Log Summary based on the provided ID for the current user's account.\n",
        "parameters": [
          {
            "name": "log_summary_id",
            "in": "path",
            "description": "ID of the Log Summary to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Log Summary Retrieve",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LogSummarySuccessfulRetrieveResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/log_summary/search": {
      "get": {
        "tags": [
          "Log Summary"
        ],
        "summary": "Search Log Summary",
        "description": "Search log summary entries on the customer account using various filters.\n",
        "parameters": [
          {
            "name": "log_summary_id",
            "in": "query",
            "description": "ID of the Log Summary",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxy_user_id",
            "in": "query",
            "description": "ID of the associated Proxy User",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "log_summary_network",
            "in": "query",
            "description": "Network type of the Log Summary",
            "schema": {
              "type": "string",
              "enum": [
                "datacenter",
                "isp",
                "residential",
                "mobile"
              ]
            }
          },
          {
            "name": "log_summary_hostname",
            "in": "query",
            "description": "Domain associated with the Log Summary",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "log_summary_requests",
            "in": "query",
            "description": "Number of requests in the Log Summary",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "log_summary_successful",
            "in": "query",
            "description": "Number of successful requests in the Log Summary",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "log_summary_error",
            "in": "query",
            "description": "Number of error requests in the Log Summary",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "log_summary_bytes",
            "in": "query",
            "description": "Total bytes in the Log Summary",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "log_summary_period",
            "in": "query",
            "description": "Period of the Log Summary",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "log_summary_creation_datetime",
            "in": "query",
            "description": "Creation datetime of the Log Summary",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "log_summary_last_update_datetime",
            "in": "query",
            "description": "Last update datetime of the Log Summary",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Key for sorting or random.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Log Summary search",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LogSummarySuccessfulSearchResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIPrivateKey": [],
            "APIPublicKey": []
          }
        ]
      }
    },
    "/public/user/mobile/list": {
      "get": {
        "tags": [
          "Mobile"
        ],
        "summary": "Generated Mobile List",
        "description": "This endpoint creates a list of mobile proxies based on filter parameters.\nThe search parameters allow the user to filter the proxies by location, session type, and format (e.g., http, socks5, socks5h).\n",
        "parameters": [
          {
            "name": "list_count",
            "in": "query",
            "description": "Number of proxies to return in the list.",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "list_format",
            "in": "query",
            "description": "Desired format for the proxies (e.g., \"http\", \"https\", \"socks5\", \"socks5h\", or \"standard\").",
            "schema": {
              "type": "string",
              "default": "standard",
              "enum": [
                "standard",
                "http",
                "https",
                "socks5",
                "socks5h"
              ]
            }
          },
          {
            "name": "proxy_user_id",
            "in": "query",
            "description": "ID of the proxy_user you want to use to authenticate with the proxies.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list_session_type",
            "in": "query",
            "description": "Session type of the mobile proxies you want returned in the search list.",
            "schema": {
              "type": "string",
              "default": "sticky",
              "enum": [
                "sticky",
                "rotating"
              ]
            }
          },
          {
            "name": "country_id",
            "in": "query",
            "description": "ISO Country Code [(ISO 3166-1 alpha-2)](https://www.iban.com/country-codes) to generate mobile proxies in.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_id",
            "in": "query",
            "description": "ID of the City to generate mobile proxies in.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "city_alias",
            "in": "query",
            "description": "Alias of the City to generate mobile proxies in.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zip_code_id",
            "in": "query",
            "description": "ID of the Zip Code to generate mobile proxies in.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subdivision_id",
            "in": "query",
            "description": "ID of the US Subdivision to generate the mobile proxies in.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "list_smartpath_enabled",
            "in": "query",
            "description": "Is SmartPath enabled for the mobile proxies you want returned in the search list.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "list_session_ttl",
            "in": "query",
            "description": "The session ttl of the mobile proxies you want returned in the search list",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list_mode",
            "in": "query",
            "description": "Desired mode for mobile network optimization",
            "schema": {
              "default": "general",
              "enum": [
[...]
